@using Teledoc.Domain.Entities.Clients

<div class="container">
    <h1>Информация о клиенте: @Model.Id</h1>

    <p>@Model.Surname</p>
    <p>@Model.Firstname</p>
    <p>@Model.Patronymic</p>
    <p>@Model.Age</p>

    <hr />
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>